@tailwind base;
@tailwind components;
@tailwind utilities;

/**************************     GLOBAL CONFIG STYLES     ***********************/


html,
body {
  overflow-x: hidden;
  max-width: 100%
}

body {
    background-color: rgb(237, 237, 237);
}

#banner-image {
    mask-image: linear-gradient(0deg, transparent, black);
    -webkit-mask-image: linear-gradient(0deg, transparent, black);
}

/**************************     FONTS     ***********************/

@font-face {
    font-family: 'Amazon Ember Bold';
    src: url(./fonts/AmazonEmber_Bd.woff) format('woff');
}
@font-face {
    font-family: 'Amazon Ember Bold Italic';
    src: url(./fonts/AmazonEmber_BdIt.woff) format('woff');
}
@font-face {
    font-family: 'Amazon Ember Light';
    src: url(./fonts/AmazonEmber_Lt.woff) format('woff');
}
@font-face {
    font-family: 'Amazon Ember Light Italic';
    src: url(./fonts/AmazonEmber_LtIt.woff) format('woff');
}
@font-face {
    font-family: 'Amazon Ember';
    src: url(./fonts/AmazonEmber_Rg.woff) format('woff');
}
@font-face {
    font-family: 'Amazon Ember Italic';
    src: url(./fonts/AmazonEmber_RgIt.woff) format('woff');
}
@font-face {
    font-family: 'Amazon Ember Display Bold';
    src: url(./fonts/AmazonEmberDisplay_Bd.woff) format('woff');
}
@font-face {
    font-family: 'Amazon Ember Display';
    src: url(./fonts/AmazonEmberDisplay_Rg.woff) format('woff');
}

/**************************     CUSTOMIZED COMPONENT CLASSES     ***********************/

@layer components {
    .link-minor {
        @apply hover:underline hover:text-yellow-500;
    }
    .input-error {
        @apply border-red-500;
        box-shadow: 0 0 0 3px rgb(221 0 0 / 10%) inset;
    }
    .button-active {
        border-color: #a88734 #9c7e31 #846a29;
        box-shadow: 0 1px 3px rgb(0 0 0 / 20%) inset;
        background-color: #f0c14b;
        background-image: none;
    }
    .nav-action-button,
    .nav-action-button:link {
        @apply block h-8 mx-3 cursor-pointer outline-none rounded-sm border text-center align-middle text-gray-900;
        border-color: #C89411 #B0820F #99710D;
        box-shadow: inset 0 1px 0 0 #FCF3DC;
        background: linear-gradient(to bottom,#F8E3AD,#EEBA37);
        font-size: 13px;
        line-height: 30px;
    }

    .nav-action-button:hover,
    .nav-action-button:focus,
    .nav-action-button:link:hover,
    .nav-action-button:link:focus {
        background: linear-gradient(to bottom,#f6da95,#ecb21f);
    }

    .nav-action-button:active,
    .nav-action-button:link:active {
        background: #EEBA37;
        -webkit-box-shadow: inset 0 1px 3px 0 #b0820f;
        -moz-box-shadow: inset 0 1px 3px 0 #b0820f;
        box-shadow: inset 0 1px 3px 0 #b0820f;
    }
}